/* General Reset */
body {
  margin: 0;
  padding: 0 100px;
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  color: #333;
  
}

.container {
  margin: 0 auto;
  padding: 20px;
}
.navbar{
  margin: auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header {
  background:transparent;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-btn {
  padding: 10px 20px;
  border: 1px solid #008000;
  background-color: #fff;
  color: #008000;
  cursor: pointer;
  border-radius: 5px;
  transition: animation-spown 0.5s ease, color 0.5s ease;
}
.sign-in-btn:hover {
  background-color: #008000;
  color: #fff;
}

/* Hero Section */
.hero {
  background-color: #C6E4D6;
  text-align: left;
  display: grid;
  border-radius: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 20px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-btn {
  padding: 15px 30px;
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Pillars Section */
.pillars {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.pillars .card-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  max-width: 250px;
  text-align: center;
}

/* Vision Section */
.vision {
  padding: 40px 20px;
  text-align: center;
}

.vision-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.vision-card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  max-width: 300px;
  text-align: center;
}

/* Opinion Section */
.opinion {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.questions {
  margin-top: 20px;
}

select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

/* News Section */
.news {
  padding: 40px 20px;
  background-color: #e0f4e7;
}

.news-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

/* animation */
@keyframes animation-spown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
